<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <style>
    body { 
        font-family: Arial, sans-serif;
        text-align: center; 
        padding: 50px;
        white-space: pre-line;
    }
    h1 { 
        color: red; 
    }
  </style>
</head>
<body>
  <h1><%= status %></h1>
  <p><%= errorMessage %></p>
  <a href="/">Go Back Home</a>
</body>
</html>